{% extends "base.html" %}

{% block title %}Battery Disposal{% endblock %}

{% block content %}
<section class="disposal-methods">
    <h2>Battery Disposal</h2>
    <p>When batteries are thrown in the trash, they can pollute the air with harsh chemicals from the metals inside them, like lead, cadmium, and mercury. These can be harmful for us to inhale and can cause issues with our lungs. These chemicals can also get into our groundwater, which can contaminate the water we drink.</p>
    <h3>Here are a few ways to properly dispose of these items: </h3>
    <ul>
        <li>Bring them to a tech or hardware store (like Microcenter or Home Depot).</li>
        <li>Bring them to a local recycling center.</li>
    </ul>
</section>
{% endblock %}
